.next-btn {
	width: 100%;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 35px;
	border-radius: 5px;
	background-color: transparent;
	border: 1px solid #8db67e;

	&:hover {
		background-color: #b7cab0;
		cursor: pointer;
	}
}