.question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  &-right {
    width: 60%;
  }

  &-bird {
    max-width: 420px;
    max-height: 235px;
    border-radius: 5px;
    margin-left: 20px;
  }

  &-title {
    font-weight: 500;
    text-align: left;
    // font-size: 22px;
    font-size: 30px;
    margin-bottom: 0;
  }

  &__audio {
    border: 1px solid #000;
    background-color: #3d3c3c;
    border-radius: 5px;
    overflow: hidden;
    width: 27rem;
    padding: 0.4rem;
    margin: 30px auto;
  }
}

audio::-webkit-media-controls-play-button {
  background-color: #8db67e;
  height: 30px;
  border-radius: 5px;
}
