@media(max-width: 1250px) {
	.container {
		max-width: 90%;
	}

	.header-item,
	.options-item,
	.descr-text {
		font-size: 16px;
	}

	.descr-text {
		line-height: 28px;
	}

	.descr-title {
		font-size: 22px;
	}
}

@media(max-width: 975px) {
	.container {
		max-width: 95%;
	}

	.wrapper {
		flex-direction: column;
	}

	.options-list,
	.descr {
		width: 100%;
	}

	.options-list {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.question__audio {
		width: 80%;
	}
}

@media(max-width: 780px) {
	.header-list {
		flex-wrap: wrap;
	}

	.header-item {
		margin: 10px 15px;
	}

	.question {
		flex-direction: column;
	}

	.question-bird {
		max-width: 90%;
		display: block;
		margin: 0 auto;
	}

	.question-right {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.question,
	.question-title {
		text-align: center;
	}

	.question__audio {
		margin: 0;
	}

	.rhap_container {
		margin: 0 auto;
	}
}

@media(max-width: 600px) {
	.question__audio {
		margin: 0;
		width: 100%;
	}

	.question-title {
		font-size: 27px;
	}

	.header-item {
		margin: 10px;
	}

	.header-list {
		padding: 20px 10px;
	}

	.flex-wrap {
		flex-direction: column;
	}

	.descr {
		padding: 20px;
	}

	.descr-titles {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}

	.descr__bird-img {
		display: block;
		margin: 0 auto;
	}
}

@media(max-width: 400px) {
	.rhap_container .descr-audio {
		display: none !important;
	}

	.rhap_container {
		min-width: 235px;
	}
}