.descr {
	background-color: #3d3c3c;
	width: 63%;
	border-radius: 5px;
	padding: 20px 35px;

	&-title {
		font-size: 25px;
		color: #b7cab0;
	}

	&-text {
		max-width: 70%;
		font-size: 19px;
		line-height: 35px;
		color: #8db67e;
	}
}